# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore # Adicionado: Nome de arquivo comum para chaves

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*

# SQL scripts, backups e dumps
sql/
*.sql
*.dump
*.bak

# Arquivos de configuração do banco
*.db
*.sqlite
*.mysql

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android